<footer id="footer">
    <div class="row text-center">
      <div class="col-12 col-md">
        <%# link_to "", %> link
      </div>
      <div class="col-12 col-md">
        <%# link_to "", %> link
      </div>
      <div class="col-12 col-md">
        <%# link_to "", %> link
      </div>
      <div class="col-12 col-md">
        <%# link_to "", %> link
      </div>
    </div>  
</footer>
