<div class="container-fluid" style="color: azure;">

  <div class="row py-5">
    <div class="col">
      <h1>QUIENES SOMOS</h1>
      <p>
        Somos una empresa mexicana apasionada por proporcionar soluciones de conectividad innovadoras y efectivas.

        Con un equipo de fundadores con vasta experiencia en el ámbito de las telecomunicaciones, estamos comprometidos no solo a ofrecer conectividad de calidad, sino también a impulsar el desarrollo tecnológico en nuestra comunidad y más allá.
      </p>
    </div>
  </div>

  <div class="row ">
    <div class="col">
      <h2>MISIÓN</h2>
      <p>Garantizar que nuestros clientes disfruten de la mejor y más eficiente conectividad posible.
  
        Nos comprometemos a competir en el mercado de manera ética y profesional, buscando constantemente formas de agregar valor como empresa. Además, aspiramos a establecer un estándar de excelencia que nos haga reconocidos y respetados a nivel nacional.
      </p>
    </div>
    <div class="col">
      <h2>VISIÓN</h2>
      <p>
        Nuestro objetivo es destacarnos como el principal proveedor de conectividad en nuestra región, ofreciendo servicios de primera clase y soluciones innovadoras.
        
        Además, aspiramos a situarnos entre los principales proveedores a nivel nacional, con un enfoque especial en reducir la brecha digital y alcanzar áreas donde otros proveedores no están dispuestos a llegar.
      </p>
    </div>
    <div class="col">
      <H2>VALORES</H2>
      <p>
        Gratitud, responsabilidad, respeto, libertad, justicia, honestidad, equidad, lealtad.
  
        Son solo algunos de los principios que nos rigen como empresa.
      </p>
    </div>
  </div>
</div>

