<h1>Statics#about_us</h1>
<p>Find me in app/views/statics/about_us.html.erb</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oY1ae48Z4y0?si=A-YrkYO345pPWw4X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>