<h1>Statics#frequent_questions</h1>
<p>Find me in app/views/statics/frequent_questions.html.erb</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ymmz1dryypY?si=ti64MT2fakCUZ6O2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>