<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
        <h2>Nuevo Paquete de Servicios</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <% provide(:button, "Crear Paquete") %>
    <%= render "form", service_package: @service_package %>

    <div class="col-3 mt-5 ms-5">
      <%= link_to "Regresar al listado de Paquetes", service_packages_path, class: "btn btn-outline-light mt-5" %>
    </div>
  </div>
</div>
