<div class="container-fluid">
  <div class="row">
    <div class="col-2 offset-sm-4">
      <h1>Realizar Pago</h1>
    </div>

    <div class="col-2 text-end">
      <%= link_to "Regresar a la factura", client_invoice_path(@client, @invoice), class: "btn btn-outline-light" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <% provide(:button, "Realizar Pago") %>
      <%= render "form", payment: @payment %>
    </div>
  </div>
</div>
