/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

#header {
  background-color: rgb(17, 17, 17);
}
/*#header .dropdown-menu {
  background-color: #FF3E6D;
}

#header .dropdown-item  {
  color: white;
}
#header .dropdown-item:hover  {
  background-color: #84253E;
} */


#Logo_orion {
  width: 80px;
}

#carouselAutoplaying {
  position: relative;
}
#carouselAutoplaying .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  height:100%;
  background-color: rgba(0, 0, 0, 0.3) ; 
}
#carouselAutoplaying .carousel-inner {
  /* filter: grayscale(0%); */
  max-height: 70vh;
  object-fit: cover;
}
#carouselAutoplaying .overlay .row{
  height: 100%;
}

.overlay .btn-contact,
.card .btn-card{
  background-color: #ff3e51;
  color: white;
}
.overlay .btn-contact:hover,
.card .btn-card:hover {
  background-color: #84253E;
  color: white;
}

#services,
#services .service-button,
#deco {
  color: white;  
}
#residential,
#bussines,
#dedicated {
  background-color: #bbbbbb;
}

#deco-card {
  background-image: url("https://media.licdn.com/dms/image/C4D1BAQFcL7Y_XIfP6g/company-background_10000/0/1583245425481/tp_link_netherlands_b_v_cover?e=2147483647&v=beta&t=vRapKUbvZs7WAO88OujKaNuRbMICBwz3FPdZICugdDw");
  color: white;
  background-size:cover;
  background-repeat:no-repeat;
}
#deco #tp-logo {
  height: 300px;
}

.ilimited-overlay{
  background-color: rgba(0, 0, 0, 0.5); 
}


#footer{
  background: linear-gradient(90deg,#84253E,#84253E 25%,#721e1e);
  padding-bottom: 30px;
  padding-top: 30px;
}

@media (min-width: 768px) {
  #ilimited .card-img-overlay{
    font-size: x-large;
  }
}
/* @media (min-width: 1400px) {
  #ilimited .card-img-overlay{
    font-size: xx-large;
  }
} */